<p>
  <b>Question:</b> <%= field['question'] %>
</p>
<div class="col-md-6">
  <%= select_tag("custom_field[#{field['name']}]",  options_for_select(field['valid_value_choices']), { class: 'form-control' }) %>
</div>