<p>
  <b>Question:</b> <%= field['question'] %>
</p>
<% html_options  = {:class => "form-control"} %>
<div class="col-md-6">
  <%= text_field_tag("custom_field[#{field['name']}]",  nil, html_options.merge(:required => "required") ) %>
</div>